<section class="hero-list">
    <div class="hero">
      <h2 class="hero-name"> {{heroInfo.name}} </h2>
      <p class="hero-id"> ID: {{heroInfo.id}} </p>
      <p class="hero-first-name"> First Name: {{heroInfo.firstName}} </p>
      <p class="hero-last-name"> Last Name: {{heroInfo.lastName}} </p>
      <p class="hero-birthplace">  Birthplace: {{heroInfo.birthplace}} </p>
      <p class="hero-universe">  Universe: {{heroInfo.universe}} </p>
      <p class="hero-isFavorite">  Favorite: {{heroInfo.isFavorite}} </p>
    </div>
</section>
