@use '../../styles.scss' as styles;

.hero{
    @include styles.lighter-font-style;
    max-width: 20%;
    background-color: beige;
    padding: 1em;
}

.hero-name{
    @include styles.heavier-font-style;
}