/* You can add global styles to this file, and also import other style files */
@mixin heavier-font-style {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: lighter;
}

@mixin lighter-font-style {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}